@import services.models._

@(userInfo: UserInfo)

@main("PureCode") {
    <script type="text/javascript" src='@routes.Assets.versioned("js/profile.js")'></script>
    <div class="card">
        <div class="row col s12">
            <div class="col s2">
                <img class="responsive-img materialboxed" src='@{userInfo.picture.link}'/>
            </div>
            <div class="col s4" id="posts">
                <div class="row" id="user_name">
                    <h5>@{userInfo.name.nameStr}</h5>
                    <div class="row">
                        <div class="chip col s4">loading ...</div>
                        <div class="chip col s4 offset-s4">loading ...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}