@import services.models._

@(userInfo: UserInfo, stats: UserStats)

@main("PureCode") {
    <script type="text/javascript" src='@routes.Assets.versioned("js/profile.js")'></script>
    <div class="card">
        <div class="row col s12">
            <div class="col s1">
                <img class="circle responsive-img materialboxed" src='@{userInfo.picture.link}'/>
            </div>
            <div class="col s4">
                <h6>@{userInfo.name.nameStr}</h6>
                <div>@{stats.publishedCount.count} posts . @{stats.draftsCount.count} drafts</div>
            </div>
        </div>
    </div>
}